/* ↓↓↓ 文字設定：中文標楷體、英文Arial ↓↓↓ */
body{
    font-family: "CustomFont";
}

@font-face {
    font-family: "CustomFont";
    src: local("DFKai-SB"), local("標楷體");
    unicode-range: U+4E00-9FFF;
    /* 中文範圍 */
}

@font-face {
    font-family: "CustomFont";
    src: local("Arial");
    unicode-range: U+0020-007F;
    /* 英文範圍 */
}

/* ↑↑↑ 文字設定：中文標楷體、英文Arial ↑↑↑ */