html,
body {
    height: 100%;
    margin: 0;
    background-color: #0d0d0d;
    color: #e0e0e0;
    font-family: "Microsoft JhengHei", sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 水平置中 */
}

h1 {
    color: #00ffff;
    text-shadow: 0 0 10px #00ffff;
    margin: 0 0 10px 0;
}

label {
    margin-right: 8px;
}

select {
    background-color: #1a1a1a;
    color: #00ffff;
    border: 1px solid #00ffff;
    padding: 5px;
    font-size: 16px;
}

#contentFrame {
    flex: 1;
    /* 填滿剩餘空間，永遠貼底 */
    /* border: 1px solid #00ffff; */
    border: none;
    width: 100%;
}